<div class="about-container">
    <h2>Razvoj višeslojnih aplikacija</h2>
    <img src="" alt="Logo Fakulteta Tehničkih Nauka">
    <p>Fakultet tehničkih nauka je visokoobrazovna ustanova smeštena u Novom Sadu i deo je Univerziteta u Novom Sadu. Fakultet je osnovan 18. maja 1960. godine, a danas broji 1.244 zaposlena i preko 16.000 studenata, jedan je od najvećih fakulteta u regionu.</p>
    <h3>Cilj predmeta</h3>
    <p>Cilj nastavnog predmeta je obrazovanje studenata u oblasti razvoja višeslojnih aplikacija i savlađivanje metoda i tehnika analize, projektovanja i implementacije. Posebna pažnja posvetiće se specifičnostima razvoja višeslojnih aplikacija koje karakteriše skalabilnost i koje se izvršavaju u distribuiranom okruženju.</p>
    <h3>Ishod predmeta</h3>
    <p>Slušaoci predmeta će tokom pohađanja nastave steći neophodna znanja o metodama i tehnikama razvoja višeslojnih aplikacija i biti osposobljeni za njihovu primenu u svim fazama razvoja softvera - od analize sistema do uvođenja razvijenih rešenja u upotrebu. Isto tako, studenti će steći veštine potrebne za korišćenja odabranih razvojnih okruženja.</p>
    <h3>Sadržaj predmeta</h3>
    <p>Rekapitulacija koncepata objektnog modela podataka. Objektno-orijentisana analiza sistema. Modelovanje funkcionalnih zahteva sistema. Projektni obrasci u kontekstu višeslojnih aplikacija. Nefunkcionalni zahtevi sistema. Definisanje arhitekture višeslojnih aplikacija. Osnove testiranja višeslojnih aplikacija i uvođenje u upotrebu.</p>
    <h3>Izvođači nastave</h3>
    <div class="instructors">
      <div class="instructor">
        <img src="" alt="Slika profesora Đorđa Pržulja">
        <p>profesor: Pržulj dr Đorđe</p>
      </div>
      <div class="instructor">
        <img src="" alt="Slika asistenta Vladimira Fabrija">
        <p>asistent: Vladimir Fabri</p>
      </div>
    </div>
  </div>
