<div class="container-fluid aboutBackground fadeInDown">
  <div>
      <h1 class="aboutTitle">O nama</h1>
  </div>    
</div>

<div class="container-fluid aboutBackgroundImg fadeInDown"><img class="slika" src="assets/slika1.jpg" ></div>
  <div class="container aboutText fadeInDown">
  <p>
    Vrhovni sud je najviši sud u Republici Srbiji i on je neposredno viši sud za Privredni apelacioni sud, Prekršajni apelacioni sud, Upravni sud i apelacioni sud. Apelacioni sud je neposredno viši sud za viši sud i osnovni sud. Privredni apelacioni sud je neposredno viši sud za privredni sud, a Prekršajni apelacioni sud je neposredno viši sud za prekršajni sud. Viši sud je neposredno viši sud za osnovni sud kada je to određeno Zakonom o uređenju sudova.
  </p>  
</div>

<div class="container-fluid aboutBackgroundImg fadeInDown"><img class="slika" src="assets/ftn.png" ></div>
  <div class="container aboutText fadeInDown">
  <p> Aplikacija je razvijana tokom vežbi iz predmeta Razvoj višeslojnih aplikacija na Fakultetu Tehničkih Nauka u Novom Sadu. </p>

  <h3>Cilj predmeta</h3>
  <p>Cilj nastavnog predmeta je obrazovanje studenata u oblasti razvoja višeslojnih aplikacija i savlađivanje metoda i tehnika analize, projektovanja i implementacije. Posebna pažnja posvetiće se specifičnostima razvoja višeslojnih aplikacija koje karakteriše skalabilnost i koje se izvršavaju u distribuiranom okruženju.</p>
  
  <h3>Ishod predmeta</h3>
  <p>Slušaoci predmeta će tokom pohađanja nastave steći neophodna znanja o metodama i tehnikama razvoja višeslojnih aplikacija i biti osposobljeni za njihovu primenu u svim fazama razvoja softvera - od analize sistema do uvođenja razvijenih rešenja u upotrebu. Isto tako, studenti će steći veštine potrebne za korišćenja odabranih razvojnih okruženja.</p>
  
  <h3>Sadržaj predmeta</h3>
  <p>Rekapitulacija koncepata objektnog modela podataka. Objektno-orijentisana analiza sistema. Modelovanje funkcionalnih zahteva sistema. Projektni obrasci u kontekstu višeslojnih aplikacija. Nefunkcionalni zahtevi sistema. Definisanje arhitekture višeslojnih aplikacija. Osnove testiranja višeslojnih aplikacija i uvođenje u upotrebu.</p>
    
  <h3>Izvođači nastave</h3>
    <h4>Profesor: Pržulj dr Đorđe</h4>
    <h4>Asistent: Vladimir Fabri</h4>
</div>

