<div class="container-fluid aboutBackground fadeInDown">
  <div>
      <h1 class="aboutTitle">O nama</h1>
  </div>    
</div>
<div class="container-fluid aboutBackgroundImg fadeInDown"><img class="slika" src="assets/s009.png" ></div>
  <div class="container aboutText fadeInDown">
  <p>
    Razvoj višeslojnih aplikacija
    Logo Fakulteta Tehničkih Nauka
    Fakultet tehničkih nauka je visokoobrazovna ustanova smeštena u Novom Sadu i deo je Univerziteta u Novom Sadu. Fakultet je osnovan 18. maja 1960. godine, a danas broji 1.244 zaposlena i preko 16.000 studenata, jedan je od najvećih fakulteta u regionu.
    
    Cilj predmeta
    Cilj nastavnog predmeta je obrazovanje studenata u oblasti razvoja višeslojnih aplikacija i savlađivanje metoda i tehnika analize, projektovanja i implementacije. Posebna pažnja posvetiće se specifičnostima razvoja višeslojnih aplikacija koje karakteriše skalabilnost i koje se izvršavaju u distribuiranom okruženju.
    
    Ishod predmeta
    Slušaoci predmeta će tokom pohađanja nastave steći neophodna znanja o metodama i tehnikama razvoja višeslojnih aplikacija i biti osposobljeni za njihovu primenu u svim fazama razvoja softvera - od analize sistema do uvođenja razvijenih rešenja u upotrebu. Isto tako, studenti će steći veštine potrebne za korišćenja odabranih razvojnih okruženja.
    
    Sadržaj predmeta
    Rekapitulacija koncepata objektnog modela podataka. Objektno-orijentisana analiza sistema. Modelovanje funkcionalnih zahteva sistema. Projektni obrasci u kontekstu višeslojnih aplikacija. Nefunkcionalni zahtevi sistema. Definisanje arhitekture višeslojnih aplikacija. Osnove testiranja višeslojnih aplikacija i uvođenje u upotrebu.
    
    Izvođači nastave
    Slika profesora Đorđa Pržulja
    profesor: Pržulj dr Đorđe
    
    Slika asistenta Vladimira Fabrija
    asistent: Vladimir Fabri
  </p>
</div>


