<mat-toolbar color="accent">
    <span class="title-center">Sud</span>
</mat-toolbar>

  <div class="container mat-elavation-z8">
    <mat-table #table [dataSource]="dataSource" class="mat-cell">
      <!--BROJ PREDMETA-->
      <ng-container matColumnDef="brojPr">
        <mat-header-cell *matHeaderCellDef>Broj Premeta</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.brojPr }}</mat-cell>
      </ng-container>
      <!--ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
      <!-- Opis -->
      <ng-container matColumnDef="opis">
        <mat-header-cell *matHeaderCellDef>Opis</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.opis }}</mat-cell>
      </ng-container>
      <!-- Datum pocetka -->
      <ng-container matColumnDef="datumPocetka">
        <mat-header-cell *matHeaderCellDef>Datum pocetka</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.datumPocetka | date:'dd.MM.yyyy.' }}</mat-cell>
      </ng-container>
      <!-- Aktivan -->
      <ng-container matColumnDef="aktivan">
        <mat-header-cell *matHeaderCellDef>Aktivan</mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.aktivan == true ? 'green': 'red' "
        >{{ row.aktivan ? 'Da' : 'Ne'}}</mat-cell>
      </ng-container>
      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="accent" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="primary" (click)="openDialog(2,row.id,row.brojPr,row.opis,row.datumPocetka,row.aktivan)">
            <mat-icon color="primary" aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialog(3,row.id,row.brojPr,row.opis,row.datumPocetka,row.aktivan)">
            <mat-icon color= "warn" aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row
        style="cursor: pointer;"
        *matRowDef="let row; columns: displayColumns">
      </mat-row>
    </mat-table>
  </div>